<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>participAÇÃO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B2301F01BC6AB340042B250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B2302071BC6AB350042B250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B2302121BC6AB350042B250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
